/*
* Main Stylesheet for all webpages within this project (custom default)
*/

/* Reset Body */
body {
    margin: 0;
    background-color: #eceff1;
}



/* Banner Section - Contains the main top portion of the page */
.banner {
    padding: 1rem;
    background: url("../images/mountain");
    height: 30rem;
    color:rgb(25, 73, 76);
    margin: auto;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -17rem;

    
}

/* Some stuff that almost works */
/* .group {
    position: fixed;
    width: 100%;
} */

@media (min-width:1920px){
    .banner {
        background-position-y: -31rem;
    }
}


.group .container h1 {
    font-size: 2em;
    font-family: 'Montserrat';
    color:rgb(25, 73, 76);
    background-color: #eceff1;
    float: left;
    padding: 0.2em;
    margin-right: 2rem;
    
}

.container {
    align-items: center;
    display: flex;
    background-color:rgb(25, 73, 76);
    margin-left: -1rem;
    margin-right: -1rem;*/
}
@media (max-width: 800px) {
    .navbar #navigation {
        flex-direction: column;
    }
    .container {
        justify-content:space-between;
    }
}


/* ---| NAVIGATION BAR |--- */

.navbar #navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.navbar #navigation li {
    line-height: 2em;
}

.navbar #navigation li a {
    text-decoration: none;
    color: #eceff1;
    display: block;
    font-family: 'Montserrat';
    font-size: 1.2em;

    transition-duration: 0.6s;
    transition-timing-function: ease;
    letter-spacing: 0;
    
    
}

/* NAVBAR EFFECTS */
.navbar #navigation li a:hover, 
.navbar #navigation li a:active {
    letter-spacing: 5px;
    text-decoration: none;
}

.navbar #navigation li a:after,
.navbar #navigation li a:before {
    backface-visibility: hidden;
    border-bottom: 1px solid  #eceff1;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}  

.navbar #navigation li a:hover:after,
.navbar #navigation li a:hover::before {
    backface-visibility: hidden;
    border-color: #eceff1;
    transition: 350ms ease-in-out;
    width: 100%;
}

.navbar #navigation li a:hover:before {
    bottom: auto;
    top: 0;
    width: 0%;
}



#navigation li{
    padding-right: 2em;

}



@media screen and (min-width: 720px) {
    .navbar ul {
        display: flex;
    }



}


/* My Profile Photo (yeah it's a meme, deal with it) */
figure {
    display: flex;
    
    justify-content: center;
    position: relative;
    top: -6rem
}

#me {
    width: 11em;
    height: 11em;
    border-radius: 50%;
    border-color: rgb(25, 73, 76);
    border-width: 0.5rem;
    border-style: double
    
}

#intro {
    text-align: center;
    margin-top: -4rem;
}

h3 {
    font-family: 'Montserrat';
    color:  rgb(25, 73, 76);
    padding: 2em;
}

/* ---| LANGUAGES I KNOW |--- */


.section {
   display: flex;
    justify-content: center;
    } 
   


#skills {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: #37444F;

    
    
}

@media (max-width: 730px) {
    #skills {
        flex-direction: column;
    }
    #skills li {
        margin-right: 1em;
    }
}

#skills li {
    display:flex;
    flex-direction: column;
    padding-right: 1em;
    color: #eceff1;

}

#skills li ul {
    list-style-type: none;
}

#skills li ul li {
    display: flex;
/*     justify-content: center; */
}

#skills li ul .icon i{
    font-size: 7em;
}

/* ---| C Language |--- */

.c {
    /* font-family: 'Baloo Chettan 2', bold; */
    margin-bottom: -0.1em;
    margin-top: -0.1em;
}

/* ---| PARAGRAPH AND SOME SECTIONS |--- */

p {
    font-family: "Work Sans";
    color: #37444F;
}

.paragraph {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

blockquote {
    margin-top: 2rem;
    padding-left: 2em;
    color: #2c3e50;
    position: relative;
    font-family: -apple-system, sans-serif;

}
blockquote::before {
    position: absolute;
    content: '\201C';
    top: -20px;
    font-family: Arial, sans-serif;
    font-size: 42px;
}

/* ---| FOOTER CONTAINER |--- */
.footer {
    background-image: url(../images/tree.jpeg);
/*     background-size: cover; */
    width: 100vw;
    background-position-y: -76rem;
    position: relative;
    background-repeat: no-repeat;

    margin-top: 9rem;
    clear: both;
}


/* ---| FORM CONTAINER |--- */

.subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.control {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #eceff1;;
}


/* .control-form:focus {
    border-color: rgb(31, 104, 109);
    box-shadow: 0 0 8px 0 rgb(31, 104, 109);
} */



.control i {

    font-size: 24px;
    float: left;
    width: 1.5em;
    text-align: center;
    color: #eceff1;
}

.control-form {
    border: none;
    outline: none;
    background: none;
    color: #eceff1;
    font-size: 18px;
    float: left;
    margin: 0 10px;
    
}



.control-form::placeholder {
    color: #eceff1;
    opacity: 50%;
    /* text-shadow: 1px 1px rgb(88, 100, 110); */
}

.control-form:required {
    box-shadow: none;
}

/* BUTTONS */

.form-outer-container-buttom {
    
    border: 2px solid rgb(25, 73, 76);
    border-radius: 2px;
    width: 20%;
}

.button-submit {

    background: rgba(40, 50, 58, 0.4);
    width: 100%;
    border: none;
    color: #eceff1;
    font-family: 'Montserrat';
    padding: 5px;
}

.button-submit spam:hover {
    transition: 0.6s;
}




#footer-hr{
    width: 50%;
    border: none;
    border-bottom: 1px solid #eceff1;
    
}

/* ---| SOCIAL LINKS |--- */

.footer .container-center-text .social-links {
    padding-top: 1.5em;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
    
    
    
}

.footer .container-center-text .social-links li {
    font-size: 3.5rem;
    padding-left: 1em;
    
}

.footer .container-center-text .social-links a {
    /* color: rgb(25, 73, 76); */
    color: #eceff1;
}

/* ---| FOOTER |--- */

.footer, .push {
    padding: 1em;
}

.copyright {
    font-size: 0.7em;
    line-height: 30px;
    text-align: center;
    font-family: 'Montserrat';
    color: #eceff1;
    text-shadow: 1px 1px #37444F;
}

.made-by-me p{
    font-size: 0.8em;
    line-height: 30px;
    font-family: 'Montserrat';
    text-align: center;
    color: #eceff1;
    text-shadow: 1px 1px #37444F;
}




#Yeet {
    padding: 1.5rem;
}
