/*
* Main Stylesheet for all webpages within this project (custom default)

    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Raleway', sans-serif;
*/

body, html {
    font: normal 1em Consolas;
    background-color: #faf2e4;
    margin: 0;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;;
    font-weight: 500;
    color: rgb(216, 122, 0);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1.5rem;
}

h2 {
    margin-left: 4em;
    margin-right: 4em;
    font-size: 1rem;
    color: rgb(216, 141, 43);
}

p {
    margin-left: 4em;
    margin-right: 4em;
    font-family: 'Source Sans Pro' sans-serif;
}

.container {
    width: 100px;
    height: 100px;
}

#goose {
    border-radius: 60% 90%;
    width: 40%;
    height: 40%;
}